@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Quicksand';
    background: #343434;
}

.background {
    background-color: #786fa650;
    color: black;
    font-size: 100px;
    width: 90%;
    height: 700px;
    margin: auto;
    border-radius: 10px;
}

.userList {
    font-size: 32px;
    color: white;
}

.pagination {
    margin: 20px;
}